// Colors
$white: #FFFFFF
$black: #000000
$border-color: #714751
$cvet-2: #b89fa2
$main-elements-color: #d99b90
$main-elements-hover-color: #a97972
$cvet-4: #ebc8c6
$cvet-5: #6e8670
$cvet-6: #9eb19b

// Font size
$fz20: 1rem
